body {
	background: #FDEEFF;
	color: black;
	font-family: MLuminari, fantasy;
}


h1 {
	font-family: Apple Chancery, cursive;
	font-weight: 800;
	color : #000000;
	text-align : center;
	letter-spacing: 3px;
	font-size : 35px;

}


h2 {
	font-family: : Apple Chancery, cursive;
	color: #694C83;
	text-align: center;
}

h3 {
	font-size: 16px;
	text-align: center;
}


p {
	text-align: center;
	font-size: 15px;
	font-family: Jazz LET, fantasy;
}



a {
	text-decoration: none;
	color: #3E3D3D;
	font-family: MLuminari, fantasy;
	font-weight: bolder;
	text-align: center;
		width: 200px;
  		display: block;
  		margin-left: auto;
  		margin-right: auto;

}

				a:hover {
				color: #757576;
				}



img {
	width: 200px;
  	display: block;
  	margin-left: auto;
  	margin-right: auto;
}


#logo  {
	border-radius: 5px;
	border: 1px solid black;
	box-shadow: 4px 4px 6px #D0D0CE;
}

#manga {
	border: thick double black;

}

.main {
	background: #FDEEFF;
	width: 700px;
	margin: 55px auto;
}

.second {
	background: #ECD0FA;
	box-shadow: 4px 4px 6px #D0D0CE;
	border-radius: 4px;
	padding: 4px;
	margin: 20px;

}

.bouton {
	color: white;
	padding: 2px 5px;
	border-radius: 4px;
	border: 1px solid black;
	background-color: #C4AFEA;
}
.bouton:hover {
	background-color: grey;
	color: white;
}

@media (max-width: 760px) {
    .main {
      width: 600px;
    }
}

@media (max-width: 500px) {
    .main {
      width: 400px;
    }
}

.list-inline {
	list-style: none;
	padding: 0px auto;
}

.list-inline li {
	display: inline-flex;
}


.list-inline i {
	font-size: 50px;
}

.list-inline i: hover {
	font-size: 60px;
}


